$mobile-width-only: 767px;
$tablet-width: 768px;
$desktop-width: 1366px;

$light-pink: #fbebea;
$pink: #f50049;

.container {
  margin: 0 auto;
  padding: 0 20px;
  width: 280px;
}

@media (min-width: $tablet-width) {
  .container {
    padding: 0 20px;
    width: 728px;
  }
}

@media (min-width: $desktop-width) {
  .container {
    padding: 0 73px;
    width: 1220px;
  }
}