.about-us {
  min-height: 710px;

  @media (min-width: $tablet-width) {
    min-height: 560px;
  }

  @media (min-width: $desktop-width) {
    min-height: 1000px;
  }
}

.about-us .container {
  display: flex;
  flex-wrap: wrap;
  @media (min-width: $tablet-width) {
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: flex-start;
  }
}

.about-us__title {
  width: 100%;
  margin: 0;
  margin-bottom: 20px;

  font-size: 24px;
  font-family: "playfair";
  text-align: center;

  @media (min-width: $tablet-width) {
    order: 1;
    margin: 0;
    padding-top: 20px;

    font-size: 28px;
    text-align: left;
  }


  @media (min-width: $desktop-width) {
    margin-bottom: 18px;
    padding-top: 50px;

    font-size: 40px;
  }
}

.about-us__img {
  margin-right: 34px;
  margin-bottom: 7px;

  @media (min-width: $tablet-width) {
    order: 2;
    margin: 0;
    margin-top: -43px;
  }

  @media (min-width: $desktop-width) {
    margin-top: -86px;
    margin-right: 72px;
  }
}

.about-us__inner {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 7px;
}

.social {
  @media (min-width: $tablet-width) {
    order: 4;
    width: 100%;
    margin-bottom: 75px;
  }

  @media (min-width: $desktop-width) {
    margin-top: -117px;
  }
}

.social__list {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  align-items: flex-start;
  width: 36px;

  font-size: 0;

  @media (min-width: $tablet-width) {
    flex-wrap: nowrap;
    width: 150px;
  }
}

.social__item {
  width: 36px;
  height: 36px;
  margin-bottom: 15px;

  border-radius: 25px;
  &:hover {
    box-shadow: 0 4px 10px 1px rgba(0, 0, 0, 0.5);

    transition: all 0.3s ease;
  }

  svg {
    margin: 9px 10px;

    fill: #f6195b;
  }

  .social__link--vkonakte {
    svg {
      margin: 5px 2px;
    }
  }

  .social__link--twitter {
    svg {
      margin: 10px 10px;
    }
  }

  @media (min-width: $tablet-width) {
    margin: 0;
    margin-right: 19px;
  }
}

.about-us--wrapper {
  @media (min-width: $tablet-width) {
    order: 3;
    width: 335px;
  }

  @media (min-width: $desktop-width) {
    width: 535px;
  }
}

.about-us__story-title {
  margin-bottom: 15px;

  font-size: 22px;
  font-family: "introScript";

  @media (min-width: $tablet-width) {
    font-size: 26px;
  }

  @media (min-width: $desktop-width) {
    font-size: 35px;
  }
}

.about-us--wrapper-story-1 {
  margin-bottom: 27px;

  @media (min-width: $tablet-width) {
    margin-bottom: 21px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 31px;

    font-size: 18px;
    line-height: 24px;
  }
}

.about-us--wrapper-story-2 {
  margin-bottom: 75px;

  @media (min-width: $tablet-width) {
    margin-bottom: 18px;
  }

  @media (min-width: $desktop-width) {
    font-size: 18px;
    line-height: 24px;
  }
}

.about-us__story-pre {
  margin-bottom: 16px;

  font-weight: 700;
  line-height: 1.4px;
  color: #2d2829;

  @media (min-width: $tablet-width) {
    font-size: 15px;
  }

  @media (min-width: $desktop-width) {
    font-size: 20px;
  }
}

.about-us__story-text {
  color: #2d2829;

  @media (min-width: $tablet-width) {
  }


  @media (min-width: $desktop-width) {
    font-size: 18px;
  }
}

.about-us__quote {
  width: 265px;
  margin: 0 auto;

  font-style: italic;
  font-weight: 700;
  font-size: 13px;
  font-family: "playfair";
  text-align: center;
  letter-spacing: 0.13px;
  p {
    margin-bottom: 20px;
  }

  @media (min-width: $tablet-width) {
    order: 5;
    width: 370px;

    font-size: 14px;
    line-height: 21px;
    letter-spacing: 0.14px;

    p {
      margin-bottom: 23px;
    }
  }

  @media (min-width: $desktop-width) {
    width: 625px;
    margin-top: 182px;

    font-size: 25px;
    line-height: 38px;

    p {
      margin-bottom: 41px;
    }
  }
}
