.advantages {
  min-height: 686px;

  background-image: url(../img/advantages/advantages-cake-mobile.png);
  background-repeat: no-repeat;
  background-position: 50% 159%;

  svg {
    display: block;
    margin: 0 auto;

    fill: #f50049;
  }

  @media (min-width: $tablet-width) {
    min-height: 696px;

    background: url(../img/advantages/advantages-cake-left-tablet.png) calc((100% - 50%) - 242px) 52px no-repeat,
    url(../img/advantages/advantages-cake-right-tablet.png) calc((100% - 50%) + 201px) 344px no-repeat;
    svg {
      position: absolute;
      top: 14px;
      left: 292px;

      width: 48px;
      height: 48px;
      margin-bottom: 12px;
      margin-left: 12px;
    }
  }

  @media (min-width: $desktop-width) {
    min-height: 1237px;

    background: url(../img/advantages/advantages-cake-left-desktop.png) calc((100% - 50%) - 430px) 73px no-repeat,
    url(../img/advantages/advantages-cake-right-desktop.png) calc((100% - 50%) + 341px) 597px no-repeat;
    svg {
      top: 23px;
      left: 328px;

      width: 61px;
      height: 61px;
    }
  }
}

.advantages__title,
.advantages-care-title {
  margin-bottom: 3px;

  font-size: 24px;
  font-family: "playfair";
}

.advantages__title,
.advantages-care-title {
  font-size: 24px;

  @media (min-width: $tablet-width) {
    font-size: 28px;
  }


  @media (min-width: $desktop-width) {
    font-size: 40px;
  }
}

.advantages__title {
  margin-top: 29px;

  text-align: center;
  color: #2d2829;
  @media (min-width: $tablet-width) {
    margin-top: 63px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 90px;
    margin-bottom: 20px;
  }
}

.advantages__intro,
.advantages__care-intro {
  display: block;

  font-size: 22px;
  font-family: "introScript";
  color: #32313d;

  @media (min-width: $tablet-width) {
    font-size: 26px;
  }

  @media (min-width: $desktop-width) {
    font-size: 35px;
  }
}

.advantages__intro {
  display: block;
  margin-bottom: 13px;

  text-align: center;

  @media (min-width: $tablet-width) {
    margin-bottom: 46px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 114px;
  }
}

.advantages__wrapper {
  min-height: 283px;
  margin: 0 auto;
  margin-bottom: 38px;
  padding: 0 20px;
  padding-top: 11px;

  text-align: center;

  background-color: #ffffff;

  @media (min-width: $tablet-width) {
    position: relative;

    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    width: 638px;
    min-height: 317px;
    margin: 0 auto;
    padding: 0;
    padding-left: 375px;

    text-align: left;

    background-color: transparent;
  }

  @media (min-width: $desktop-width) {
    width: 809px;
    min-height: 569px;
    padding-left: 424px;
  }
}

.advantages__extra-title {
  margin: 0;
  margin-top: 12px;
  margin-bottom: 2px;

  font-size: 16px;
  &--2 {
    margin-top: 5px;
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 5px;

    font-size: 15px;
  }

  @media (min-width: $desktop-width) {
    font-size: 20px;
  }
}

.advantages__cake-img {
  margin-top: 16px;

  @media (min-width: $tablet-width) {
    position: absolute;
    top: 71px;
    left: 295px;

    width: 63px;
    height: 38px;
  }

  @media (min-width: $desktop-width) {
    top: 117px;
    left: 335px;

    width: 75px;
    height: 50px;
  }
}

.advantages__text {
  @media (min-width: $tablet-width) {
    margin-bottom: 8px;

    font-size: 14px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 31px;

    font-size: 20px;
  }
}

.advantages-care {
  width: 320px;
  margin: 0 auto;
  padding: 0 20px;

  @media (min-width: $tablet-width) {
    width: 676px;
    padding: 0;
    padding-right: 349px;
  }

  @media (min-width: $desktop-width) {
    width: 1220px;
    padding-right: 750px;
  }
}

.advantages-care-title {
  text-align: left;

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 10px;
  }
}

.advantages__care-intro {
  @media (min-width: $tablet-width) {
    margin-bottom: 5px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 8px;
  }
}
