.catalog {
  margin-bottom: 45px;

  @media (min-width: $tablet-width) {
    margin-bottom: 39px;

    .container {
      padding: 0 20px;
    }
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 62px;
    .container {
      padding: 0 73px;
    }
  }
}

.catalog__title {
  margin-top: 0;
  margin-bottom: 29px;
  padding-top: 20px;

  font-size: 24px;
  font-family: "playfair";
  text-align: center;
  letter-spacing: 0.24px;

  @media (min-width: $tablet-width) {
    margin-bottom: 33px;

    font-size: 28px;
    text-align: left;
    letter-spacing: 0.28px;
  }

  @media (min-width: $desktop-width) {
    position: relative;
    top: -50px;

    margin: 0;
    padding: 0;

    font-size: 40px;
    letter-spacing: 0.4px;
  }
}

.catalog__list {
  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: flex-start;
    align-items: flex-start;
  }

  @media (min-width: $desktop-width) {
    margin-top: 6px;
  }
}

.catalog__item {
  &--wrapper {
    position: relative;

    display: block;
    margin-bottom: 6px;

    &:hover {
      box-shadow: 0 1px 6px 1px rgba(0, 0, 0, 0.15);
    }
  }

  @media (min-width: $tablet-width) {
    flex-grow: 1;
    margin: 0;

    &:first-child {
      margin-right: 20px;
    }

    &--two-items > a {
      margin-bottom: 16px;
    }

    &:nth-child(3) {
      margin-right: 20px;
    }
  }

  @media (min-width: $desktop-width) {
    &:first-child {
      margin-right: 39px;
      margin-bottom: 32px;
    }

    &--two-items > a {
      margin-bottom: 38px;
    }

    &:nth-child(3) {
      margin-right: 39px;
    }
  }
}


.catalog__cake-type {
  position: absolute;
  top: 12px;
  left: 11px;

  margin: 0;

  font-size: 14px;
  color: #2d2829;

  @media (min-width: $tablet-width) {
    top: 22px;
    left: 25px;
  }

  @media (min-width: $desktop-width) {
    top: 37px;
    left: 44px;

    font-size: 24px;
  }
}

.catalog__cake-kinds {
  position: absolute;
  top: 30px;
  left: 12px;

  font-size: 12px;
  color: #2d2829;

  opacity: 0.7;

  @media (min-width: $tablet-width) {
    top: 39px;
    left: 25px;
  }

  @media (min-width: $desktop-width) {
    top: 66px;
    left: 44px;

    font-size: 20px;
  }
}

.catalog__image {
  margin: 0;
  padding: 0;

  font-size: 0;
}
