.custom-order__title {
  margin: 0;
  margin-bottom: 5px;

  font-size: 24px;
  font-family: "playfair";
  text-align: center;
  letter-spacing: 0.24px;
}

.custom-order__remark {
  display: block;
  margin-bottom: 19px;

  font-size: 22px;
  font-family: "introScript";
  text-align: center;
  color: #32313d;
}

.custom-order__item {
  margin-bottom: 10px;
  padding: 8px  18px;
  padding-bottom: 25px;

  background-color: #ffffff;
}

.custom-order__item:last-child {
  margin-bottom: 0;
}

.custom-order__inner-step {
  margin-bottom: 12px;
}

.custom-order__item--size .custom-order__inner-step {
  margin: 0;
}

.custom-order__item--decor .custom-order__inner-step {
  margin-bottom: 20px;
}

.custom-order__item-step,
.custom-order__item-title {
  display: inline-block;

  font-weight: 700;
  font-family: "playfair";
  color: #f50049;
}

.custom-order__item-step {
  margin-right: 9px;

  font-size: 30px;
}

.custom-order__item-title {
  font-size: 16px;
}

.custom-order__image {
  display: block;

  text-align: center;
  img {
    box-shadow: 0 2px 6px 1px rgba(0, 0, 0, 0.15);
  }
}

//стилизация карусели
.owl-theme .owl-nav.disabled + .owl-dots {
  margin: 0;
}

.custom-order__item--filling .owl-dots {
  position: absolute;
  top: 118px;
  left: 89px;
}

.custom-order__item--size .owl-dots {
  position: absolute;
  top: 193px;
  left: 97px;
}

.custom-order__item--decor .owl-dots {
  position: absolute;
  top: 202px;
  left: 94px;
}

.owl-theme .owl-dots .owl-dot span {
  width: 6px;
  height: 6px;
  margin: 5px 3px;
}

.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
  width: 8px;
  height: 8px;

  background: $pink;
}

.custom-order__item--decor .owl-carousel .owl-item img {
  width: auto;
  margin: 0 auto;
}
// END

.custom-order__name {
  color: #2f2f2f;
}

.custom-order__item--filling .custom-order__name {
  margin-top: 36px;
  margin-bottom: 5px;

  font-size: 16px;
  letter-spacing: 0.16px;
}

.custom-order__item--decor .custom-order__name {
  margin-top: 36px;
  margin-bottom: 5px;

  font-size: 14px;
  text-align: center;
}

.custom-order__desc {
  margin-bottom: 18px;

  font-size: 14px;
  color: #2f2f2f;
}

.custom-order__price {
  display: block;
  margin-bottom: 20px;

  font-weight: 700;
  font-size: 18px;
  font-family: "playfair";
  text-align: center;
}

.custom-order__item--decor .custom-order__price {
  margin-bottom: 27px;
}

.custom-order__item .button {
  width: 178px;
  margin: 0 auto;
}

.icon-circle-small {
  display: block;
  margin: 0 auto;
  margin-top: 42px;
  margin-bottom: 69px;
}

.custom-order__size-person {
  display: block;
  margin-bottom: 58px;

  font-size: 14px;
  text-align: center;
  color: #2f2f2f;
}

.choice-form {
  background-color: #ffffff;
}

.choice-form__title {
  margin: 0;
  margin-bottom: 9px;
  padding-top: 16px;
  padding-left: 18px;

  font-size: 22px;
  font-family: "playfair";
  letter-spacing: 0.22;
}

.choice-form__option-name {
  margin-bottom: 2px;

  font-size: 20px;
  font-family: "introScript";
  text-align: center;
  color: $pink;
}

.choice-form__option-name--filling {
  margin-right: 22px;
}

.choice-form__option-name--size {
  margin-right: 14px;
  margin-bottom: 6px;
}

.choice-form__option-name--decor {
  margin-right: 15px;
  margin-bottom: 6px;
}

.choice-form__menu {
  display: block;
  width: 250px;
  height: 30px;
  margin: 0 auto;
  margin-bottom: 9px;

  color: #2d2829;
  border-radius: 25px;
}

.choice-form__button {
  margin: 0 auto;
  margin-top: 30px;
}


@media (min-width: $tablet-width) {
  .custom-order__title {
    font-size: 28x;
    letter-spacing: 0.28px;
  }

  .custom-order__remark {
    font-size: 26px;
  }

  .custom-order__item--filling .custom-order__name {
    font-size: 18px;
  }

  .custom-order__price {
    font-size: 20px;
  }
}

@media (min-width: $desktop-width) {
  .custom-order__title {
    font-size: 40px;
    letter-spacing: 0.4px;
  }

  .custom-order__remark {
    font-size: 35px;
  }

  .custom-order__name {
    font-size: 20px;
  }

  .custom-order__desc {
    font-size: 20px;
    line-height: 24px;
  }

  .custom-order__price {
    font-size: 22px;
  }
}
