.intro {
  padding-top: 132px;
  min-height: 464px;

  background-color: $light-pink;
  background-image: url(../../img/intro/intro-bg-mobile.png);
  background-repeat: no-repeat;
  background-position: 50% -40px;
}

.intro__title {
  margin: 0 auto;
  margin-bottom: 14px;

  font-weight: 700;
  font-size: 40px;
  line-height: 36px;
  font-family: "playfair";
  text-align: center;
  letter-spacing: 3px;
}

.intro__remark {
  display: block;
  margin: 0 auto;
  margin-bottom: 21px;

  font-size: 22px;
  font-family: "introScript";
  text-align: center;
}

.intro-description--wrapper {
  position: relative;

  margin-bottom: 41px;
}

.intro__description-1,
.intro__description-2 {
  padding-right: 25px;
  padding-left: 43px;
}

.intro__description-1 {
  margin-bottom: 30px;
}

.icon-intro__description-1 {
  position: absolute;
  top: -1px;
  left: 0;

  fill: $pink;
}

.icon-intro__description-2 {
  position: absolute;
  top: 45px;
  left: 0;

  fill: $pink;
}

.intro .button {
  margin: 0 auto;
}

@media (min-width: $tablet-width) {
  .intro {
    min-height: 710px;
    padding-top: 109px;

    background-image: url(../../img/intro/intro-bg-tablet.png);
    background-position-x: calc((100% - 50%) + 236px);
    background-position-y: 12px;
    .container {
      display: flex;
      flex-direction: column;
      align-content: flex-start;
      align-items: flex-start;
    }
  }

  .intro__title {
    margin: 0;
    margin-bottom: 15px;

    font-size: 60px;
    line-height: 55px;
    text-align: left;
    letter-spacing: 4.5px;
  }

  .intro__remark {
    margin: 0;
    margin-bottom: 52px;

    font-size: 36px;
    text-align: left;
  }

  .intro .button {
    margin: 0;
    margin-bottom: 164px;
  }

  .intro-description--wrapper {
    display: flex;
    order: 2;
    margin-left: 23px;

    p {
      position: relative;

      width: 195px;

      font-size: 14px;
      line-height: 18px;
    }
  }

  .intro__description-1 {
    margin-right: 31px;
  }

  .icon-intro__description-1 {
    top: -16px;
    left: -23px;

    width: 55px;
    height: 55px;
  }

  .icon-intro__description-2 {
    top: -15px;
    left: -30px;

    width: 55px;
    height: 54px;
  }
}

@media (min-width: $desktop-width) {
  .intro {
    min-height: 950px;
    padding-top: 156px;

    background-image: url(../../img/intro/intro-bg-desktop.png);
    background-position-x: calc((100% - 50%) + 392px);
    background-position-y: 17px;
  }

  .intro__title {
    margin-bottom: 13px;
    margin-left: 0;

    font-size: 78px;
    line-height: 70px;
    letter-spacing: 5.87px;
  }

  .intro__remark {
    margin-bottom: 57px;
    margin-left: 0;

    font-size: 40px;
  }

  .intro .button {
    margin-bottom: 145px;
    margin-left: 0;
  }

  .intro-description--wrapper {
    margin-left: 23px;
  }
}
