.page-header {
  position: relative;

  min-height: 40px;

  background-color: #ffffff;
}

.page-header__logo {
  display: inline-block;
  margin: 0 20px;
  margin-top: 13px;
  margin-bottom: 8px;

  font-weight: 700;
  font-size: 16px;
  font-family: "playfair";
  color: #000000;
  letter-spacing: 0.24px;
}

.page-header__phone {
  display: none;
}

.main-nav__list {
  position: absolute;

  display: flex;
  flex-direction: column;
  width: 100%;
}

.main-nav__item a {
  display: block;
  height: 41px;
  padding-top: 15px;

  font-size: 12px;
  text-align: center;
  color: #383838;
  text-transform: uppercase;

  background-color: #e7e7e7;
  border-bottom: 1px solid #dedede;
}

.main-nav__toggle {
  position: absolute;
  top: 13px;
  right: 20px;
  z-index: 2;

  display: block;
  width: 18px;
  height: 14px;

  background-color: transparent;
  border: none;
  cursor: pointer;
}

.main-nav .main-nav__toggle::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;

  width: 18px;
  height: 2px;

  background-color: #000000;
  box-shadow: 0 6px 0 0 #000000, 0 12px 0 0 #000000;
}

@media (max-width: 1365px) {
  .main-nav--closed .main-nav__list {
    display: none;
  }

  .main-nav--opened .main-nav__list {
    display: block;
  }

  .main-nav--nojs .main-nav__list {
    position: relative;

    display: block;
  }
}

@media (min-width: $tablet-width) {
  .page-header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    min-height: 60px;
  }

  .page-header__logo {
    margin: 0 47px;
    margin-top: 22px;
    margin-bottom: 7px;

    font-size: 20px;
  }

  .main-nav__list {
    left: 0;

    width: 322px;
    margin-top: 60px;
  }

  .main-nav__toggle {
    top: 21px;
    left: 132px;

    width: 25px;
    height: 20px;
  }

  .main-nav .main-nav__toggle::before {
    width: 25px;
    height: 2px;

    box-shadow: 0 8px 0 0 #000000, 0 16px 0 0 #000000;
  }

  .page-header__phone {
    display: block;
    margin-top: 23px;
    margin-right: 46px;

    font-weight: 700;
    font-size: 15px;
  }
}

@media (min-width: $desktop-width) {
  .page-header {
    justify-content: flex-start;

    background-color: $light-pink;
  }

  .main-nav__toggle {
    display: none;
  }

  .page-header__logo {
    margin: 0;
    margin-top: 60px;
    margin-left: 72px;

    font-size: 23.24px;
    letter-spacing: 0.75px;
  }
  .main-nav__list {
    position: relative;

    display: flex;
    flex-direction: row;
    width: auto;
    margin-top: 69px;
    margin-left: 47px;
  }

  .main-nav__item a {
    display: inline-block;
    width: auto;
    height: auto;
    margin-right: 43px;
    padding: 0;

    font-size: 13px;

    background-color: transparent;
    border: none;
    &:hover {
      color: $pink;
    }
  }

  .page-header__phone {
    margin: 0;
    margin-top: 68px;
    margin-right: 56px;
    margin-left: auto;
  }
}
